<style>
</style>
<center>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 <h1>Order placed!</h1>
 <h2>Drinks Ordered: </h2>
 <table>
   <tr>
     <td width="200px">
       <b>Order ID</b>
     </td>
     <td width="70px">
       <b>Product Name</b>
     </td>
      <td width="70px">
        <b>Quantity</b>
      </td>
      <td width="70px">
        <b>Price</b>
      </td>
      <td width="70px">
        <b>Amount</b>
      </td>
   </tr>
  {% for p in orderList %}
  <tr>
    <td width="200px">
      {{p.orderID}}
    </td>
    <td width="100px">
      {{p.products}}
    </td>
     <td width="100px">
       {{p.quantity}}
     </td>
     <td width="100px">
       {{p.price}}
     </td>
     <td width="100px">
       {{p.amount}}
     </td>
  </tr>
  {% endfor %}
</table>
    <a href="/changeStatus">
    <button type="button" name="button">Change Status</button>
    </a>
</center>
