<style>
</style>
<center>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
 <h1>Order placed!</h1>
 <h2>Drinks Ordered: </h2>
 <table>
   <tr>
     <td width="200px">
       <b>Order ID</b>
     </td>
      <td width="30px">
        <b>Status</b>
      </td>

   </tr>
  {% for o in orderList %}
  <tr>
    <td width="200px">
      <a href="/employee/viewOrderDetail?orderID={{o.orderID}}">{{o.orderID}}
    </td>
     <td width="30px">
       {{o.orderStatus}}
     </td>
  </tr>
  {% endfor %}
</table>

  <a href="#">
  <button type="button" name="button">In progress</button>
  </a>
  <a href="#">
  <button type="button" name="button">Complete</button>
  </a>
</center>
